<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post</title>
</head>
<body>

	<div>
		<h1><a href="">Django Blog</a></h1>
	</div>

	<div>
		<p>published: 14.06.2014, 12:14</p>
		<h2><a href="">My First Post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At doloribus perferendis id assumenda sint provident voluptatibus quod rem, itaque cupiditate, dolor architecto molestias dolorum ipsam. Quibusdam enim ratione distinctio, nam.</p>
	</div>

	<div>
		<p>published: 14.06.2014, 12:14</p>
		<h2><a href="">My Second Post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, officiis possimus. Vel, ab fuga molestias ullam natus corrupti eum aliquid officia. Tempora rem delectus recusandae labore corrupti sunt ipsum autem.</p>
	</div>
	
</body>
</html>